# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend Node/Next ignores (recursive / fallback)
node_modules/
.next/
out/
build/

# Backend Python ignores (recursive / fallback)
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
